.Date-container {
    background-color: #ccc;
    overflow: hidden;
}

.Date-container ul,
* {
    margin: 0;
    padding: 0;
    list-style: none
}

.Date-container .Date-Body {
    /*position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;*/
}

.Date-container .Date-Body>ul {
    /*-webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;*/
}

.Date-container ul>li {
    display: inline-block;
    width: 13.2%;
    text-align: center;
    position: relative;
}

.Date-container ul>li.this {
    background-color: burlywood
}

.Date-container ul>li .Date {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
}

.Date-container ul>li .day-con {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.Date-container ul>li.Selected .day-con {
    background-color: red;
    border-radius: 50%;
}

.Date-container ul>li span {
    color: yellow;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10%;
}